### Terraform ###
# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*hcl*

# Ignore Certificate files
*.csr*
*.crt*
*.key*

# Ignore config files
*config*
*kubefile*